@use '../../../scss/abstracts/' as *;

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  position: relative;

  // max-height: 100%;
  // min-height: 100%;
  text-align: center;
  // position: relative;
  // justify-content: flex-start;
  border-collapse: collapse;

}

.table td {
  flex: content;
  border: 1px solid var(--border-color);
  padding: 1px;
  max-height: 30px;
  line-height: 35px;
  height: 10px;
}

.table th {
  border: 1px solid var(--border-color);
  background-color: rgba(51, 44, 187, 0.887);
  // box-shadow: rgba(49, 187, 44, 0.887) ;
  color: white;//var(--text-color);
  padding: 1px;
}


// .table tr {
//   height: 20px;
//   max-height: 20px;
// }

.table tr:nth-child(odd) {
  background-color: var(--table-odd);
  height: 25px;
  max-height: 25px;
}
.table tr:nth-child(even) {
  background-color: var(--table-even);
  height: 25px;
  max-height: 25px;
}

.table tr:hover {
  // height: 40px;
  // background-color: var(--button-primary);
  background-color: var(--hover-table-bg);
  box-shadow: var(--hover-table-shadow);
  color: var(--hover-table-color);
}
.table_selected {
  // background-color: var(--dev-bgc-selected);
  background-color: var(--selected-table-bg);
  box-shadow: var(--selected-table-shadow);
  color: var(--selected-table-color);
}
.table_dense {
  flex: content;
  border: 1px solid var(--border-color);
  padding: 1px;
  max-height: 30px;
  line-height: 15px;
  height: 8px;
}

.table th {
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;
  // background-color: var(--bgc);
  // color: var(--text-color);
  position: sticky;
  top: 0;
}


.inpt {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid var(--border-color);
  color: var(--text-color);
  background: var(--table-odd);
  display: block;
  height: 36px;
}

.label {
  font-size: 11px;

  line-height: 1.5;
  padding: 5px 5px;

  color: var(--text-color);
  //   background: var(--table-odd);
  display: block;
}

.inpt:hover {
  border-color: var(--border-color);
}
.inpt:focus {
  border-color: #9147ff;
  background: var(--table-even);
}
.inpt::-webkit-input-placeholder {
  color: var(--input-placeholder);
  text-shadow: 0 0 0.125em transparent;
  transition: all 0.25s;
}