@use './abstracts/' as *;
@import url(../assets/fonts/css/fontiran.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
html {
  /* ****Colors**** */
  --chart-bgc: rgba(238, 238, 238, 0.8);
  --chart-bgc2: rgb(45, 43, 43);
  --chart-color-1: rgba(20, 125, 245, 1);
  --chart-color-2: rgba(212, 52, 52, 1);
  --chart-color-3: rgb(170, 0, 248);

  --primaryColor: #384aee;
  --secondaryColor: #3c4b6d;
  // --background-image: url("https://img.freepik.com/free-vector/honeycomb-background-3d-paper-style_23-2148400328.jpg?w=1380&t=st=1675610151~exp=1675610751~hmac=696b5885f5698dba9eeecee6dd41e94cd5d38e897a983102ec76f6bff3ed0d83");
  // --background-image: url("https://images.unsplash.com/photo-1565638459249-c85cbb2faaa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=100");

  //light theme
  --warning-text: red;
  --warning-bg: rgb(255, 208, 0);
  --blur-bg: #ebebebfe;
  --bgc: #f4eeee;
  --bgGrad: #eaebed;
  --sidebar: #75e2ff;
  --card-bgc: #e1f1f1;
  --text-color: #000000;
  --header-text-color: #070707;
  --border-color: #636261;
  --dev-bgc: rgba(248, 240, 240, 0.698);
  --input-placeholder: #2b487754;

  // --blur-bg: rgba(216, 231, 229, 0.8);
  // --bgc: #f2f2f2;
  // --sidebar: #f2f2f2;
  // --card-bgc: #f9f9fa;
  // --text-color: #424750;
  // --header-text-color: #1e1f20;
  //light theme status
  --approved-bgc: rgb(84, 240, 0);
  --approved-textColor: #246500;
  --pending-bgc: rgb(45, 202, 255);
  --pending-textColor: #086785;
  --rejected-bgc: rgb(255, 56, 56);
  --rejected-textColor: #9d0e0e;
  --dev-bgc-disable: rgba(180, 31, 31, 0.678);
  --dev-bgc-deactive: rgb(121, 121, 121);
  --dev-bgc-selected: rgba(22, 207, 62, 0.7);
  --text-ultimate-color: rgb(36, 151, 189);
  /* ****Font family**** */
  --fontFamily: 'Poppins', 'Roboto', sans-serif;
  --button-primary: rgba(17, 162, 211, 0.801);
  --max-color: rgb(255, 139, 45);
  --min-color: rgb(45, 202, 255);
  --bgc-table: #8b42a152;
  --table-even: #d4d4d4;
  --table-odd: #dad0d0;

  --selected-table-bg: #c2fbd7;
  --selected-table-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  --selected-table-color: rgb(35, 36, 35);
  --hover-table-bg: #1cc7dd;
  --hover-table-shadow: rgba(44, 165, 187, 0.4) 0 -25px 18px -14px inset,
    rgba(44, 165, 187, 0.4) 0 1px 2px, rgba(44, 165, 187, 0.4) 0 2px 4px,
    rgba(44, 165, 187, 0.4) 0 4px 8px, rgba(44, 165, 187, 0.4) 0 8px 16px,
    rgba(44, 165, 187, 0.4) 0 16px 32px;
  --hover-table-color: rgb(0, 13, 128);
}
html[theme='dark'] {
  //dark theme
  --chart-bgc: #13274f;
  --chart-bgc2: rgb(255, 255, 255);
  --chart-color-1: rgba(20, 125, 245, 1);
  --chart-color-2: rgba(212, 52, 52, 1);
  --chart-color-3: rgb(0, 255, 170);

  --warning-text: red;
  --warning-bg: rgb(255, 208, 0);
  --bgc: #222831;
  --blur-bg: #393e46;
  --bgGrad: #393e46;
  --sidebar: #0a2037;
  --card-bgc: #27241c;
  --text-color: #ffffff;
  --header-text-color: #ffd369;
  --border-color: #06b89a;
  --dev-bgc: #393e46cf;
  --input-placeholder: #cbd4e23a;
  //light theme status

  // --background-image: url("../assets/images/darkbg.jpg");

  // --background-image: url("https://images.unsplash.com/photo-1544365558-35aa4afcf11f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1936&q=100");
  // --background-image: url("https://images.unsplash.com/photo-1565638459249-c85cbb2faaa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=100");

  --approved-bgc: rgba(107, 197, 59, 0.822);
  --approved-textColor: #ffffff;
  --pending-bgc: rgba(17, 162, 211, 0.801);
  --pending-textColor: #a5e9ff;
  --rejected-bgc: rgba(255, 96, 56, 0.822);
  --rejected-textColor: #f2bebe;
  --dev-bgc-disable: rgba(134, 49, 49, 0.7);
  --dev-bgc-deactive: rgb(66, 66, 66);
  --dev-bgc-selected: rgba(31, 150, 57, 0.7);
  --text-ultimate-color: rgb(45, 202, 255);
  --button-primary: rgb(21, 79, 133);
  --max-color: rgb(255, 139, 45);
  --min-color: rgb(45, 202, 255);
  --bgc-table: #4296a152;
  --table-even: #494949;
  --table-odd: #3f3f3f;

  --selected-table-bg: #4ec278ad;
  --selected-table-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  --selected-table-color: rgb(255, 255, 255);
  --hover-table-bg: #166670;
  --hover-table-shadow: rgba(44, 165, 187, 0.4) 0 -25px 18px -14px inset,
    rgba(44, 165, 187, 0.4) 0 1px 2px, rgba(44, 165, 187, 0.4) 0 2px 4px,
    rgba(44, 165, 187, 0.4) 0 4px 8px, rgba(44, 165, 187, 0.4) 0 8px 16px,
    rgba(44, 165, 187, 0.4) 0 16px 32px;
  --hover-table-color: rgb(217, 218, 233);
}

html[dir='rtl'] {
  --fontFamily: iranyekan, 'IRANSans', 'Tahoma';
}

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  &:focus {
    background-color: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  // -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #b9b9b9;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

//general styles
body {
  background-color: var(--bgc);
  color: var(--text-color);
  font-family: var(--fontFamily);
  font-size: $fontSizeBodyLarge;
  line-height: 1.5em;
  overflow-x: hidden;
  @include tablet {
    background-color: var(--secondaryColor);
  }
}

.title {
  font-size: $fontSizeHeadlineSmall;
  font-weight: 700;
  line-height: 2em;
  margin-bottom: 2rem;
}

.subTitle {
  font-size: 18px;
  margin-bottom: 1rem;
}

.status {
  display: inline-block;
  padding: 2px 10px;
  text-align: center;
  font-size: 10px;
  border-radius: $largeBorderRadius;
}
.approved {
  background-color: var(--approved-bgc);
  color: var(--approved-textColor);
}

.pending {
  background-color: var(--pending-bgc);
  color: var(--pending-textColor);
}

.rejected {
  background-color: var(--rejected-bgc);
  color: var(--rejected-textColor);
}

.ltr {
  direction: ltr;
  text-align: left;
}

.rtl {
  font-family: iranyekan, 'IRANSans', 'Tahoma';
  direction: rtl;
  text-align: right;
}

.error {
  color: var(--rejected-textColor);
}

@include tablet {
  .topNav_left_menu_open {
    display: block;
  }

  .topNav_left_menu_close {
    display: none;
  }
}

@include tablet {
  .sidebar__open .main_wrapper {
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.9) translateX(45%);
    transition: all 0.5s ease-in-out;
    box-shadow: $secondBoxShadow;
  }

  .sidebar__open .topNav_left_menu_open {
    display: none;
  }

  .sidebar__open .topNav_left_menu_close {
    display: block;
  }
}

@include mobile {
  .sidebar__open .main_wrapper {
    transform: scale(0.9) translateX(60%);
  }
}

#overlay-root > div {
  padding: 0;
}

.main_wrapper {
  transform: scale(1) translateX(0);
  // transition: all 0.5s ease-in-out;
}

//----------- not found Page -----------------
.notFound__container {
  font-family: var(--fontFamily);
  @include flex();
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  @include tablet {
    background-color: var(--bgc);
  }
}

.notFound__container_rtl {
  font-family: iranyekan, 'IRANSans', 'Tahoma';
  min-height: 100vh;
  @include flex();
  flex-direction: column;
  @include tablet {
    background-color: var(--bgc);
  }
}

.notFound__title {
  font-size: 63px;
  margin: 5rem 0 3rem;
  font-family: inherit;
  line-height: 70px;
  &_rtl {
    direction: rtl;
  }

  @include tablet {
    font-size: 36px;
    margin: 3rem;
    line-height: 33px;
  }
  @include mobile {
    font-size: 24px;
    margin: 1rem;
  }
}

.notFound__img {
  max-width: 500px;
  margin: 0 auto;
}

//---------- end of not Found page

html[dir='rtl'] {
  @include tablet {
    .sidebar__open .main_wrapper {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      transform: scale(0.9) translateX(-45%);
    }
  }
}

//---------- scrollbar styles

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bgc);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryColor);
  border-radius: 100vw;
}
