@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../src/fonts/fonts.css";

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  /* ... */
  .menu-button {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding-left: theme("spacing.2");
    padding-right: theme("spacing.2");
    box-shadow: theme("boxShadow.xl");
    margin-left: 5px;
    margin-right: 5px;
  }
}

@layer base {
  .h2-tag {
    font-size: 16px;
    font-size: 1.5rem;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  /* -webkit-text-size-adjust: none; */
  /* text-size-adjust: none; */
}
.h2 {
  font-size: 25px;
  font-size: 1.5rem;
}
/* html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-0);
  color: var(--text-accents-0);
  overscroll-behavior-x: contain;
} */

/* .link {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-0);
  color: var(--text-accents-0);
  overscroll-behavior-x: contain;
} */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(97, 96, 96);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(78, 40, 40);
}
a:link {
  scroll-behavior: auto !important;
}

.fade-in-image {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#---------------------------------------------------------------------------------------------
  button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

.glow-button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(27, 168, 211);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-button:active {
  color: rgb(19, 199, 43);
}

.glow-button:active:after {
  background: transparent;
}

.glow-button:hover:before {
  opacity: 1;
}

.glow-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(19, 186, 220, 0.372);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  touch-action: pan-y;
}

.swiper-list {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-out;
}

.swiper-list.is-swiping {
  transition: none;
}

.swiper-indicator {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.swiper-indicator-item {
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
}

.swiper-indicator-item.active {
  width: 9px;
  border-radius: 40%;
  background-color: #777777;
}

.swiper-item {
  /* object-fit: cover; */
  /* width: 100%; */
  flex-shrink: 0;
}

.swiper-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}

.topHeader {
  z-index: 3;
}

.MainHomeTopSlider {
  width: 100%;
  z-index: 1;
  min-height: 130px;
  max-height: 400px;
}

.MainCategoryCard {
  width: 100%;
}

.pos-relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
/*=====================================================================*/
.product-slider-one-container {
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-y: hidden;

  /* touch-action: pan-y; */
  width: 85%;
  height: auto;
  min-height: 250px;
  max-height: 350px;
  /* background-color: #949494; */
  padding: 8px;
  border-radius: 15px;
  user-select: none;
}
.product-slider-one-items {
  cursor: grab;
  display: flex;
  align-items: center;
  /* transform: translateX(0); */
  /* animation: tdkSlider 50s infinite linear; */
}
.product-slider-one-items::-webkit-scrollbar {
  height: 8px;
}
.product-slider-one-items::-webkit-scrollbar-track {
  border-radius: 5px;
}

.product-slider-item {
  font-family: Vazir-Medium;
}

@keyframes tdkSlider {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}

.product-slider-one-container::-webkit-scrollbar {
  height: 11px;
}

.product-slider-one-container::-webkit-scrollbar-track {
  border-radius: 5px;
}

.product-slider-one-container::-webkit-scrollbar-thumb {
  background: #500c6d;
  border-radius: 5px;
}

.product-slider-one-container::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 26, 102);
}

.scrollbar-for-slider::-webkit-scrollbar {
  height: 11px;
}
.scrollbar-for-slider::-webkit-scrollbar-track {
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

.footer {
  border-top: #a59e9e;
  width: 100%;
  /* height: 400px; */
  background-color: #c9c9c9;
}
.footer-mobile {
  border-top: #777777;
  width: 100%;
  height: 800px;
  background-color: #777777;
}
/* .swiper-container {
  max-width: 100%;
  max-height: 400px;
  overflow: hidden;
  touch-action: pan-y;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 0;
} */

/* .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
  z-index: 1;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-out;
} */
.fade-anim-image img {
  animation: fadeAnim2 0.8s ease-in-out;
}
@keyframes fadeAnim2 {
  from {
    filter: blur(50px) grayscale(100%);
  }
  to {
    filter: blur(0px) grayscale(0%);
  }
}

.fade-anim {
  animation: fadeAnim 0.5s ease-in;
}
@keyframes fadeAnim {
  from {
    filter: blur(18px);
    opacity: 50%;
  }
  to {
    filter: blur(0px);
    opacity: 100%;
  }
}

.ltr-support {
  direction: ltr;
}

/*===================================================*/
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
/*===================================================*/
.lds-two {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-two div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(12, 80, 226);
  border-radius: 50%;
  animation: lds-two 1.2s linear infinite;
}
.lds-two div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-two div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-two div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-two div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-two div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-two div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-two div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-two div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-two div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-two div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-two div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-two div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-two {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
/*===================================================*/
.btn-add-to-cart {
  background: #000;
  margin: 2, 2, 2, 2;
  padding: 2, 2, 2, 2;
}
.mob-add-to-cart-container {
  background: #000;
  margin: 2, 2, 2, 2;
  padding: 2, 2, 2, 2;
}
.mob-btn-add-to-cart {
  background: #000;
  margin: 2, 2, 2, 2;
  padding: 2, 2, 2, 2;
}
/*===================================================*/
.StickyContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.StickyContainer2 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 150;
  top: 0px;
}
/*===================================================*/
.input-color-container {
  position: relative;
  overflow: hidden;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 40px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}

.input-color-label {
  cursor: pointer;
  text-decoration: underline;
  color: #3498db;
}
/*===================================================*/
/* flex flex-wrap justify-center w-9/12 select-none */
.search-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
}
.search-page-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 90%; */
  user-select: none;
}
/*===================================================*/
.shadow-product {
  box-shadow: #051ce785 0px 5px 15px;
}
.shadow-product:hover {
  box-shadow: #990e3e 0px 5px 15px;
}

.MuiPaginationItem-text {
  color: #3498db;
  font-family: inherit;
}
